@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  overflow-y: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: #2D2D2D;
  height: 100vh;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: .5rem;
  height: 1rem;
}

::-webkit-scrollbar:horizontal {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1000px;
}

.secondary-text-color {
  color: #A4A4A4
}

.markdown > * {
  all: revert;
}

pre {
  overflow-x: scroll;
  background-color: rgb(9, 9, 9);
  padding: 15px;
  margin: 10px 0px 10px 0px;
}